<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A fully featured school management platform"/>
    <meta name="author" content="Acada Plus +"/>

    <link rel="shortcut icon" href="../favicon.ico"/>

    <title>Acada+ School Management Platform</title>

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/icons.css" th:href="@{/css/icons.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap Toggle -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>

    <script src="../static/js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
    <script type="application/javascript" th:inline="javascript">
        var csrfToken = [[${_csrf.token}]];
    </script>

</head>


<body>

<!-- Navigation Bar-->
<header id="topnav" th:replace="fragments :: header (page='applications')">
    <div class="topbar-main">
        <div class="container">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="home.html" class="logo"><span>acada<span>+</span></span></a>
            </div>
            <!-- End Logo container-->
            <div class="menu-extras">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown user-box">
                        <a href="" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
                            <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465708663/Acada%2B%20Platform/User%20Images/avatar-1.jpg" alt="user-img" class="img-circle user-img"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                            <li><a href="home.html"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li>
                        <a href="home.html"><i class="zmdi zmdi-apps"></i> <span>My Applications</span></a>
                    </li>
                    <li class="active">
                        <a><i class="zmdi zmdi-settings"></i> <span>Manage Applications</span></a>
                    </li>
                    <li>
                        <a href="users.html"><i class="zmdi zmdi-accounts"></i> <span>Manage Users</span></a>
                    </li>
                </ul>
                <!-- End navigation menu  -->
            </div>
        </div>
    </div>
</header>
<!-- End Navigation Bar-->


<div class="wrapper">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Manage Applications</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">

                    <h4 class="header-title m-t-0 m-b-30">Which applications do your employees have access to?</h4>

                    <p class="text-muted font-13 m-b-25">
                        Acada+ supports three types of employees (Roles). These are; a <code>Systems Manager</code>, a <code>School Administrator</code>
                        and a <code>Teacher</code>. Use this section to define which applications each type of employee will have access to.
                    </p>

                    <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th><span class="font-13 m-b-30">ROLES</span></th>
                                    <th class="text-center col-md-1" th:each="application : ${applications}">
                                        <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465583001/Acada%2B%20Platform/Application%20Icons/enrollment.png" th:src="${application.icon}" class="img-circle thumb-lg img-thumbnail m-b-10"/>
                                        <br/><span class="font-13 m-b-30" th:text="${application.name}">ENROLLMENT</span>
                                    </th>
                                    <th class="text-center col-md-1" th:remove="all">
                                        <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465583001/Acada%2B%20Platform/Application%20Icons/attendance.png" class="img-circle thumb-lg img-thumbnail m-b-10" alt="Enrollment"/>
                                        <br/><span class="font-13 m-b-30">ATTENDANCE</span>
                                    </th>
                                    <th class="text-center col-md-1" th:remove="all">
                                        <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465583001/Acada%2B%20Platform/Application%20Icons/gradebook.png" class="img-circle thumb-lg img-thumbnail m-b-10" alt="Enrollment"/>
                                        <br/><span class="font-13 m-b-30">GRADEBOOK</span>
                                    </th>
                                    <th class="text-center col-md-1" th:remove="all">
                                        <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465583001/Acada%2B%20Platform/Application%20Icons/behavior.png" class="img-circle thumb-lg img-thumbnail m-b-10" alt="Enrollment"/>
                                        <br/><span class="font-13 m-b-30">BEHAVIOUR</span>
                                    </th>
                                    <th class="text-center col-md-1" th:remove="all">
                                        <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465583001/Acada%2B%20Platform/Application%20Icons/messages.png" class="img-circle thumb-lg img-thumbnail m-b-10" alt="Enrollment"/>
                                        <br/><span class="font-13 m-b-30">MESSAGES</span>
                                    </th>
                                    <th class="text-center col-md-1" th:remove="all">
                                        <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465583001/Acada%2B%20Platform/Application%20Icons/analytics.png" class="img-circle thumb-lg img-thumbnail m-b-10" alt="Enrollment"/>
                                        <br/><span class="font-13 m-b-30">ANALYTICS</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                                <tr th:each="role : ${rolePermissions}">
                                    <th scope="row">
                                        <p class="font-13 m-b-20 m-t-20" th:text="${role.key.description}">System Administrator</p>
                                    </th>
                                    <td class="text-center" th:each="permission,status : ${role.value}">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input th:checked="${permission}" th:disabled="${role.key.name eq 'role.sysadmin'}" checked="checked" disabled="disabled" data-toggle="toggle" type="checkbox" class="permissionCheck" th:name="${role.key.name + '@' + applications[status.index].name}"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center" th:remove="all">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" disabled="disabled" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center" th:remove="all">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" disabled="disabled" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center" th:remove="all">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" disabled="disabled" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center" th:remove="all">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" disabled="disabled" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center" th:remove="all">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" disabled="disabled" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <p class="font-13 m-b-20 m-t-20">School Administrator</p>
                                    </th>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <p class="font-13 m-b-20 m-t-20">Teacher</p>
                                    </th>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <p class="font-13 m-b-20 m-t-20">
                                            <label>
                                                <input checked="checked" data-toggle="toggle" type="checkbox"/>
                                            </label>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer text-right" th:replace="fragments :: footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        2016 © Acada Plus
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- end container -->

</div>

<!-- jQuery  -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/detect.js" th:src="@{/js/detect.js}"></script>
<script src="../static/js/fastclick.js" th:src="@{/js/fastclick.js}"></script>

<script src="../static/js/jquery.slimscroll.js" th:src="@{/js/jquery.slimscroll.js}"></script>
<script src="../static/js/jquery.blockUI.js" th:src="@{/js/jquery.blockUI.js}"></script>
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<script src="../static/js/wow.min.js" th:src="@{/js/wow.js}"></script>
<script src="../static/js/jquery.nicescroll.js" th:src="@{/js/jquery.nicescroll.js}"></script>
<script src="../static/js/jquery.scrollTo.min.js" th:src="@{/js/jquery.scrollTo.min.js}"></script>

<!-- Bootstrap Toggle-->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- App js -->
<script src="../static/js/jquery.core.js" th:src="@{/js/jquery.core.js}"></script>
<script src="../static/js/jquery.app.js" th:src="@{/js/jquery.app.js}"></script>

<!-- Page js -->
<script src="../static/js/page-applications.js" th:src="@{/js/page-applications.js}"></script>

</body>
</html>