<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A fully featured school management platform"/>
    <meta name="author" content="Acada Plus +"/>

    <link rel="shortcut icon" href="../favicon.ico"/>

    <title>Acada+ School Management Platform</title>

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/icons.css" th:href="@{/css/icons.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="../static/js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
    <script type="application/javascript" th:inline="javascript">
        var csrfToken = [[${_csrf.token}]];
    </script>

</head>


<body>

<!-- Navigation Bar-->
<header id="topnav" th:replace="fragments :: header (page='organization')">
    <div class="topbar-main">
        <div class="container">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="home.html" class="logo"><span>acada<span>+</span></span></a>
            </div>
            <!-- End Logo container-->
            <div class="menu-extras">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown user-box">
                        <a href="" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
                            <img src="http://res.cloudinary.com/acadaplus/image/upload/v1465708663/Acada%2B%20Platform/User%20Images/avatar-1.jpg" alt="user-img" class="img-circle user-img"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html"><i class="ti-user m-r-5"></i> Profile</a></li>
                            <li><a href="home.html"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li>
                        <a href="home.html"><i class="zmdi zmdi-apps"></i> <span>My Applications</span></a>
                    </li>
                    <li>
                        <a href="applications.html"><i class="zmdi zmdi-settings"></i> <span>Manage Applications</span></a>
                    </li>
                    <li>
                        <a href="users.html"><i class="zmdi zmdi-accounts"></i> <span>Manage Users</span></a>
                    </li>
                    <li class="active">
                        <a><i class="zmdi zmdi-settings"></i> <span>Manage My Organization</span></a>
                    </li>
                </ul>
                <!-- End navigation menu  -->
            </div>
        </div>
    </div>
</header>
<!-- End Navigation Bar-->


<div class="wrapper">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Manage My Organization</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <form class="form-horizontal" role="form" th:action="@{/organization}" th:object="${organization}" method="POST">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4 class="header-title m-t-0 m-b-30">School Information</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Acada+ Identifier</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" th:text="*{key}">louisville-ghs</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="school-name">Name</label>
                                    <div class="col-md-10">
                                        <input id="school-name" type="text" class="form-control" disabled="" value="Louisville Girls High School" th:field="*{name}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="tag-line">Tag Line</label>
                                    <div class="col-md-10">
                                        <input id="tag-line" type="text" class="form-control" value="Citadel of learning for Girls" placeholder="Provide a tag line for your school" th:field="*{tagline}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Description</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="5" placeholder="Provide a description of your school" th:field="*{description}"></textarea>
                                    </div>
                                </div>
                                <h4 class="header-title m-t-30 m-b-30">School Address</h4>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Street</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" placeholder="Provide your school's address" th:field="*{street}"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">City</label>
                                    <div class="col-md-10">
                                        <input id="city" type="text" class="form-control" placeholder="City" th:field="*{city}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Local Government</label>
                                    <div class="col-md-10">
                                        <input id="locality" type="text" class="form-control" placeholder="Local Government" th:field="*{locality}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">State</label>
                                    <div class="col-md-10">
                                        <input id="state" type="text" class="form-control" placeholder="State" th:field="*{state}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="header-title m-t-0 m-b-30">Social Media</h4>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="facebook">Facebook</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                        <input id="facebook" type="text" class="form-control" placeholder="Facebook Url" th:field="*{facebook}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="twitter">Twitter</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                        <input id="twitter" type="text" class="form-control" placeholder="Twitter Url" th:field="*{twitter}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="google">Google+</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                                        <input id="google" type="text" class="form-control" placeholder="Google+ Url" th:field="*{google}"/>
                                    </div>
                                </div>
                                <h4 class="header-title m-t-30 m-b-30">Contact Information</h4>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="land-line">Land Line</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input id="land-line" type="text" class="form-control" placeholder="Land Line Phone #" th:field="*{landline}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="mobile">Mobile</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input id="mobile" type="text" class="form-control" placeholder="Mobile Phone #" th:field="*{mobile}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="fax">Fax</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-fax"></i></span>
                                        <input id="fax" type="text" class="form-control" placeholder="Fax Phone #" th:field="*{fax}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input id="email" type="email" class="form-control" placeholder="Email Address" th:field="*{email}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="website">Website</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-internet-explorer"></i></span>
                                        <input id="website" type="text" class="form-control" placeholder="Website Address" th:field="*{website}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="skype">Skype</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                                        <input id="skype" type="text" class="form-control" placeholder="Skype Username" th:field="*{skype}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="whatsapp">WhatsApp</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-whatsapp"></i></span>
                                        <input id="whatsapp" type="text" class="form-control" placeholder="WhatsApp #" th:field="*{whatsapp}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-lg waves-effect waves-light"><i class="fa fa-save"></i> Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer text-right" th:replace="fragments :: footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        2016 © Acada Plus
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- end container -->

</div>

<!-- jQuery  -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/detect.js" th:src="@{/js/detect.js}"></script>
<script src="../static/js/fastclick.js" th:src="@{/js/fastclick.js}"></script>

<script src="../static/js/jquery.slimscroll.js" th:src="@{/js/jquery.slimscroll.js}"></script>
<script src="../static/js/jquery.blockUI.js" th:src="@{/js/jquery.blockUI.js}"></script>
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="../static/js/jquery.nicescroll.js" th:src="@{/js/jquery.nicescroll.js}"></script>
<script src="../static/js/jquery.scrollTo.min.js" th:src="@{/js/jquery.scrollTo.min.js}"></script>

<!-- App js -->
<script src="../static/js/jquery.core.js" th:src="@{/js/jquery.core.js}"></script>
<script src="../static/js/jquery.app.js" th:src="@{/js/jquery.app.js}"></script>

<!-- Page js -->
<script src="../static/js/page-settings.js" th:src="@{/js/page-settings.js}"></script>

</body>
</html>